[program:dotmarks_postprocess]
command={{ virtualenv_dir }}/bin/celery -A workers.dotmarks_postworker worker
directory={{ current_code }}/python
user={{user}}
stdout_logfile=/var/log/dotmarks_postprocess.log
stderr_logfile=/var/log/dotmarks_postprocess.error.log
priority=300