[program:gunicorn]
command={{ virtualenv_dir }}/bin/gunicorn
    --config {{ virtualenv_dir }}/etc/gunicorn.conf.py
    app:app
directory={{ current_code }}/python
user={{user}}
stdout_logfile=/var/log/gunicorn.log
stderr_logfile=/var/log/gunicorn.log
priority=300
environment=SENDGRID_USER=xxxx,SENDGRID_PASSWORD=xxxxx