[program:{{ name }}]
command={{ command }}
directory={{ directory }}
redirect_stderr={{ redirect_stderr }}
autostart={{ autostart }}
autorestart={{ autorestart }}
user={{ user }}
startsecs={{ startsecs }}
{% if env_vars|length > 0 %}
environment={% for name, value in env_vars.iteritems() %}{{ name }}="{{ value }}"{% if not loop.last %},{% endif %}{% endfor %}
{% endif %}

[program:gunicorn]
command=/home/oi_api/current/env/bin/gunicorn
    --config /home/oi_api/shared/etc/gunicorn.conf.py
    API:app
directory=/home/oi_api/current
user=oi_api
stdout_logfile=/home/oi_api/shared/var/log/gunicorn.log
stderr_logfile=/home/oi_api/shared/var/log/gunicorn.log
priority=300