[program:user_worker]
command={{ virtualenv_dir }}/bin/celery -A workers.user_worker worker
directory={{ current_code }}/python
user={{user}}
stdout_logfile=/var/log/user_worker.log
stderr_logfile=/var/log/user_worker.error.log
priority=300