h1{
	color: white;
	font-size: 5em;
	margin: 0;
	padding-top: 200px;
	text-align: left;
	background: rgb(31, 97, 168);
	padding-left: 460px;

}

h2{
	color: rgb(31, 97, 168);
	font-size: 3em;
	padding-top: 5px;
	text-align: left;
	margin-left: 460px;
}
img{
	float: left; 
	margin: 150px 0px 15px 300px;
}
.details{
	margin-left: 800px;
}