
<div class="loginBox center">
    <form class="form-horizontal" role="form">
      <h2 class="center">Reset Password</h2>
      <div class="form-group">
        <label for="inputPassword1" class="col-sm-2 control-label">New Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" placeholder="Password" ng-model="password">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword2" class="col-sm-2 control-label">Again</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" placeholder="Enter your password again, please" ng-model="rpassword">
        </div>
      </div>
      <br><br>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success" ng-click="resetPassword()">Reset password</button>
        </div>
      </div>
    </form>
    <div class="alert alert-danger" ng-if="errors">{{errors}}</div>
</div>