




<div class="row">
    <div class="col-md-1">
        <a type="button" class="btn btn-primary" href="#/dotmarks">dotMarks</a>
    </div>

    <div class="col-md-4">
        <a class="btn btn-danger" ng-click="showDetails = ! showDetails">Bulk Import</a>
        <a class="btn btn-danger" ng-click="showUpload = ! showUpload">Upload HTML</a>
        <div class="row" ng-show="showDetails">
            <textarea ng-model="terminal" class="terminal" ></textarea>
            <a class="btn btn-danger" ng-click="bulkImport()" >Load!</a>
        </div>
        <div class="row" ng-show="showUpload">
            <label>Select an HTML file with links to upload</label>
            <input type="file" ng-file-select="onFileSelect($files)" >
        </div>
    </div>
</div>